<!DOCTYPE html>
<html>
  <head>
    <title>GummyBearKingdom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav>
  <div class="nav-wrapper">
    <span class="brand-logo center">    <%= link_to "Gummy Bear Kingdom", root_path %>
</span>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <%= yield(:navbar) %>
    </ul>
  </div>
</nav>
 </div>
 <div class="container content">
   <div class="container fill">
     <%= flash[:notice] %>
     <%= yield %>
   </div>
</div>
  </body>
</html>
